$base-blue: #00A0E9
$base-thin-blue: #E7E8F2
$base-dark-blue: #3B5998
$base-gray: #f5f8fa
$base-light-gray: #D2D4D6
$base-dark-gray: #667580
$base-green: #259959
$base-light-green: #3E878B
$base-green-hover: #1CCC6B
$base-dark-green: #0E5F1F
$base-light-green-hover: #9CC107
$base-orange: #D6B109
$base-orange-hover: #FFD412
$base-pink: #E81A6D
$base-thin-pink: #FFA9BB
$base-red: #FF0F0E
