.grumble-button, .comment-button
  width: 200px
  height: 40px
  margin: 0 0 5px 0
  border-radius: 5px
  background-color: $base-green
  box-shadow: 0 5px $base-dark-green
  border: none
  color: #fff
  padding: 10px 0
  &:hover
    margin: 5px 0 0 0
    box-shadow: none
.disabled
  opacity: 0.6

.registration-button, .login-button
  background: $base-green
  border: none
  color: #fff
  padding: 10px 16px
  &:hover
    opacity: 0.8

.grumble_cheer-active
  color: $base-dark-blue
  font-weight: bold
  &:hover
    color: $base-dark-blue
    text-decoration: none

.grumble_sympathy-active
  color: $base-pink
  font-weight: bold
  &:hover
    color: $base-pink
    text-decoration: none

.grumble_cheer, .grumble_sympathy, .grumble_comment
  padding: 5px 0 15px 0
  border-bottom: 5px solid $base-light-green
  &:hover
    margin-bottom: -5px
    border-bottom: 5px solid #4AA4A9
