.form_container-post
  h2
    +main_topics

.form-container-block
  +main_container

#form_submit
  +form_button

.form_actions
  text-align: center

.form_container-grumble
  +main_container

.form_text-grumble
  height: 100px
  line-height: 1px
